<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Tambahkan elemen <queries> di sini -->
    <!-- Izin untuk layanan foreground (Android 9+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>

        <!-- Untuk mendeteksi aplikasi WhatsApp -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="api.whatsapp.com"
                android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="wa.me"
                android:scheme="https" />
        </intent>
        <!-- Tambahkan package untuk WhatsApp dan WhatsApp Business -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" /> <!-- WhatsApp Business -->
    </queries>

    <application
        android:name=".BarberLinkApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberLink"
        tools:targetApi="31">
        <activity
            android:name=".UserInterface.Admin.AddExpenseNotesPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Admin.AddIncomeNotesPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Admin.EmployeePayrollPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Admin.EmployeePaySlipPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Admin.ManualReportPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Capster.BonEmployeePage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Admin.ApproveOrRejectBonPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />

        <service
            android:name=".Services.SenderMessageService"
            android:exported="false" />
        <service
            android:name=".Accessibility.WhatsappAccessibilityService"
            android:exported="true"
            android:label="Barberlink Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/whatsappservice" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity
            android:name=".UserInterface.Admin.DashboardAdminPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SignIn.Login.SelectOutletDestination"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Admin.ManageOutletPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SettingPageScreen"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Capster.QueueControlPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Teller.CompleteOrderPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Teller.BestDealsPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Teller.ReviewOrderPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Teller.BarberBookingPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Teller.QueueTrackerPage"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Capster.HomePageCapster"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SignIn.Gateway.SelectUserRolePage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" /> <!-- android:launchMode="singleInstancePerTask" /> -->
        <activity
            android:name=".UserInterface.Capster.SelectAccountPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SignIn.Login.LoginAdminPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" /> <!-- android:launchMode="singleInstancePerTask" /> -->
        <activity
            android:name=".UserInterface.SignUp.Page.SignUpSuccess"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SignUp.Page.SignUpStepThree"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SignUp.Page.SignUpStepTwo"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.SignUp.Page.SignUpStepOne"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" /> <!-- android:launchMode="singleInstancePerTask" /> -->
        <activity
            android:name=".UserInterface.Intro.Landing.LandingPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Intro.OnBoarding.OnBoardingPage"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.BarberLink.DarkWindow" />
        <activity
            android:name=".UserInterface.Intro.Splash.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <receiver android:name=".Broadcast.AutoLogoutReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.AUTO_LOGOUT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service -->
        <!-- android:name=".Services.SessionCleanupService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <service
            android:name=".Services.SessionCleanupService"
            android:exported="false"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:stopWithTask="true"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>