<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Tambahkan elemen <queries> di sini -->
    <queries>

        <!-- Untuk mendeteksi aplikasi WhatsApp -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="api.whatsapp.com"
                android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="wa.me"
                android:scheme="https" />
        </intent>
        <!-- Tambahkan package untuk WhatsApp dan WhatsApp Business -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" /> <!-- WhatsApp Business -->
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberLink"
        tools:targetApi="31">
        <service
            android:name=".Services.SenderMessageService"
            android:exported="false"/>
        <service
            android:name=".Accessibility.WhatsappAccessibilityService"
            android:exported="true"
            android:label="My Whatsapp Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/whatsappservice" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Adapter.ItemListCapsterAdapter"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Admin.DashboardAdminPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Admin.BerandaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Adapter.ItemPackageFullCardAdapter"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SignIn.Login.SelectOutletDestination"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Admin.ManageOutletPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SettingPageScreen"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Capster.QueueControlPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Teller.ComplateOrderPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Teller.BestDealsPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Teller.ReviewOrderPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Teller.BarberBookingPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Teller.QueueTrackerPage"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".UserInterface.Capster.HomePageCapster"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SignIn.Gateway.SelectUserRolePage"
            android:exported="false"
            android:launchMode="singleInstancePerTask" />
        <activity
            android:name=".UserInterface.Capster.SelectAccountPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SignIn.Login.LoginAdminPage"
            android:exported="false"
            android:launchMode="singleInstancePerTask" />
        <activity
            android:name=".UserInterface.SignUp.SignUpSuccess"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SignUp.SignUpStepThree"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SignUp.SignUpStepTwo"
            android:exported="false" />
        <activity
            android:name=".UserInterface.SignUp.SignUpStepOne"
            android:exported="false"
            android:launchMode="singleInstancePerTask" />
        <activity
            android:name=".UserInterface.Intro.Landing.LandingPage"
            android:exported="false"/>
        <activity
            android:name=".UserInterface.Intro.OnBoarding.OnBoardingPage"
            android:exported="false" />
        <activity
            android:name=".UserInterface.Intro.Splash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.MainActivity"
            android:exported="false" />
    </application>

</manifest>